#copyBox {
    height: 80px;
    cursor: pointer;
}

#AddBtn {

    display: flex;
    justify-content: center;
    align-items: center;

}


@media only screen and (max-width: 600px) {
    #AddBtn {
        width: 100%;

    }
}